<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
      h1 {text-align: center;
        font-size: 2vw;}
      form {text-align: center;
        font-size: 1.5vw;}
      .box1 {
        margin: auto;
        width: 50%;
        border: 3px solid black;
        background-color: #00c896;
        padding: 15px;
      }
      a {
        text-decoration: none;
        color: black;
        text-align: center;
      }
      .register-link {
        size: 8pt;
      }
    </style>
  </head>
  <body>
    <main>
        <h1>Login</h1>
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>  
        {% endif %}
      <div class="box1">
        <form method="POST" action="">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Submit</button>
          <div class="register-link"><a href="{% url 'register' %}">Not got an account?</a></div>
          
        </form>
         
            
          
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
