<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set New Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/passwordReset.css' %}">
</head>
<body>
    <div class="password-reset-container">
        <h1>Set New Password</h1>
        <form method="POST" id="password-reset-form">
            {% csrf_token %}
            <div class="form-group">
                <div class="box-response" style="display: flex; align-items: center;">
                    <input type="password" name="new_password1" id="new_password1" placeholder="Password" required>
                    <button type="button" class="info-button" onclick="showPasswordRequirements()">i</button>
                </div>
                {% if form.new_password1.errors %}
                <small class="error-message">
                    {{ form.new_password1.errors|striptags }}
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <div class="box-response" style="display: flex; align-items: center;">
                    <input type="password" name="new_password2" id="new_password2" placeholder="Confirm Password" required>
                </div>
                {% if form.new_password2.errors %}
                <small class="error-message">
                    {{ form.new_password2.errors|striptags }}
                </small>
                {% endif %}
            </div>
            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>

    <script>
        function showPasswordRequirements() {
            alert("Password requirements:\n- Your password can’t be too similar to your other personal information.\n- Your password must contain at least 8 characters.\n- Your password can’t be a commonly used password.\n- Your password can’t be entirely numeric.");
        }
    </script>
</body>
</html>