<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<main>
    
    <div class="admin-page-box">
        <h3>Password Reset</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
</main>
</body>
</html>