<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset Complete</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<main>
    <div class="admin-page-box">
        <h1>Password Reset Complete</h1>
        <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}" style="color: #007bff; font-weight: bold; text-decoration: underline;">log in</a> with your new password.</p>
    </div>
    #
</main>
</body>
</html>