<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset Sent</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
</head>
<body>
<main>
    <div class="admin-page-box">
        <h3>Password Reset Sent</h3>
        <p>An email has been sent with instructions to reset your password.</p>
    </div>
    
</main>
</body>
</html>