annotated-types==0.7.0
asgiref==3.8.1
astroid==3.3.8
branca==0.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
decorator==5.1.1
dill==0.3.9
Django==5.1.7
django-ipware==7.0.1
django-qr-code==4.1.0
folium==0.19.4
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
idna==3.10
isort==6.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pydantic==2.10.6
pydantic_core==2.27.2
pylint==3.3.4
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
python-dotenv==1.0.1
python-ipware==3.0.0
ratelim==0.1.6
requests==2.32.3
segno==1.6.1
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
xyzservices==2025.1.0
