<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Achievements</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/achievements.css' %}">
    <link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp&display=swap"/>
    <!-- Add a link to stylesheet in here, and then put the style sheet in static in root folder-->
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="{% static 'js/dashboard.js' %}" defer></script>
</head>
<body>
    <div class="container">
      <aside> 
        <!-- Sidebar for navigation -->
        <div class="top">
          <div class="logo">
            <h2><span class="danger">EcoQuest</span></h2>
          </div>
          <!-- Close button for small screens -->
          <div class="close" id="close_button">
            <span class="material-symbols-sharp">close</span>
          </div>
        </div>
    
        <!-- Sidebar navigation menu -->
        <div class="sidebar">
    
          <a href="{% url 'home' %}"> 
            <span class="material-symbols-sharp">home</span>
            <h3> Home </h3>
          </a>
    
          <a href="{% url 'leaderboard' %}"> 
            <span class="material-symbols-sharp">leaderboard</span>
            <h3> Leaderboard </h3>
          </a>
    
          <a href="{% url 'map' %}"> 
            <span class="material-symbols-sharp">map</span>
            <h3> Map </h3>
          </a>
    
          <a href="{% url 'contact' %}"> 
            <span class="material-symbols-sharp">call</span>
            <h3> Contact </h3>
          </a>
    
          {% if userprofile.is_user %}
          <a href="{% url 'achievements' %}" class="active">
            <span class="material-symbols-sharp">trophy</span>
            <h3> Achievements </h3>
          </a>
          {% endif %}
    
          {% if userprofile.is_user or userprofile.is_game_keeper or userprofile.is_admin %}
          <a href="{% url 'account' %}"> 
            <span class="material-symbols-sharp">exit_to_app</span>
            <h3> Account </h3>
          </a>
          {% endif %}
    
          {% if not userprofile.is_game_keeper or not userprofile.is_admin %}
          <a href="{% url 'privacy' %}"> 
            <span class="material-symbols-sharp">policy</span>
            <h3> Policy </h3>
          </a>
          {% endif %}
            
          {% if userprofile.is_game_keeper or userprofile.is_admin %}
          <a href="{% url 'gamekeeper-portal' %}"> 
            <span class="material-symbols-sharp">exit_to_app</span>
            <h3> Game Keeper </h3>
          </a>
          {% endif %}
    
          {% if userprofile.is_admin %}
          <a href="{% url 'admin-portal' %}"> 
            <span class="material-symbols-sharp">exit_to_app</span>
            <h3> Admin </h3>
          </a>
          {% endif %}
        
          {% if user_auth.is_anonymous %}
          <a href="{% url 'login'%}"> 
            <span class="material-symbols-sharp"> login </span>
            <h3> Sign In </h3>
          </a>
          {% endif %}
    
          {% if user_auth.is_authenticated %}
          <a href="{% url 'logout'%}"> 
            <span class="material-symbols-sharp"> login </span>
            <h3> Logout </h3>
          </a>
          {% endif %}
          
        </div>
      </aside>
  
      <main class="achievements-main"> 
        <div class="achievement-box"> 
            
            <div class="challenge-header-container">
              <h2 class="challenge-header">Achievements</h2>
            </div>
            
            <div class="achievement-container">
                {% for challenge, image in challenges_list %}
                <div class="achievements-list">
                    <img src="../../static/images/{{ image }}" alt="image" class="img"> 
                    <p class="challenge-name">{{ challenge }}</p>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </main>
    
    
  
      <div class="right">
        <div class="top">
          <button id="menu_bar">
            <span class="material-symbols-sharp"> menu </span>
          </button>
      
        </div>
        
      </div>

      

    </div>

    <div class="footer">
      <a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Pixel perfect - Flaticon</a><br>
                <a href="https://www.flaticon.com/free-icons/tick" title="tick icons">Tick icons created by kliwir art - Flaticon</a>
    </div>
    
  </body>
</html>
