<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rolePortalStyle.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Manage Locations</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Location</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>{{ location.icon }}</td>
                <td>
                    <a href="{% url 'edit_location' location.locationId %}">Edit</a>
                    <a href="{% url 'delete_location' location.locationId %}" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    



</body>
</html>
