<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rolePortalStyle.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Manage Challenge</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Challenge</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Challenge</th>
                <th>Description</th>
                <th>Points</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.challenge }}</td>
                <td>{{ challenge.description }}</td>
                <td>{{ challenge.points }}</td>
                <td>
                    <a href="{% url 'edit_challenge' challenge.challengeId %}">Edit</a>
                    <a href="{% url 'delete_challenge' challenge.challengeId %}" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

