<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_edit.css' %}">
    <title>
        500 Page Not Found
    </title>

</head>

<body>
<div class="admin-page-box">
    <h1>Error 500 </h1>
    <p>
        Oops! The page you're
        looking for is not here.
        Please go back to home page
    </p>

    <a href="{% url 'home'%}" class="btn-submit">
        Home
    </a>
</div>
</body>

</html>
