<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/challengeQuiz.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <table>
        <thead class="table-headr">
        <tr>
            <th class="nav-left"><a href="{% url 'home' %}">Home</a></th>
            <th class="nav-left"><a href="{% url 'map' %}">Map</a></th>
            <th class="nav-right"><a href="{% url 'logout' %}">Logout</a></th>
        </tr>
        </thead>
    </table>
    <div class="box">
        <form method="post" class="form-box">
            {% csrf_token %}
            <b class="quiz-question">{{ question }}</b><br>
            <b class="quiz-question">Question {{ question_number }} of {{ total_number }}</b><br>
            <input class="quiz-answer" type="radio" id="choice1" name="question" value="{{ choice1 }}">
            <label for="choice1" class="quiz-text">{{ choice1 }}</label><br>
            <input class="quiz-answer" type="radio" id="choice2" name="question" value="{{ choice2 }}">
            <label for="choice2" class="quiz-text">{{ choice2 }}</label><br>
            <input class="quiz-answer" type="radio" id="choice3" name="question" value="{{ choice3 }}">
            <label for="choice3" class="quiz-text">{{ choice3 }}</label><br>
            <input class="quiz-answer" type="radio" id="choice4" name="question" value="{{ choice4 }}">
            <label for="choice4" class="quiz-text">{{ choice4 }}</label><br>

            <input type="submit" value="Submit" class="submit">
        </form>
    </div>

</main>

<script src="index.js"></script>
</body>
</html>