<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/challengeQuiz.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <table>
        <thead class="table-headr">
          <tr>
            <th class="nav-left"><a href="{% url 'home' %}">Home</a></th>
            <th class="nav-left"><a href="{% url 'map' %}">Map</a></th>
            <th class="nav-right"><a href="{% url 'logout' %}">Logout</a></th>
          </tr>
        </thead>
      </table>
      <div class="box">
        <form method="post" class="form-box">
          {% csrf_token %}
          {% for question_iter in questions %}
            <b class="quiz-question">{{ question_iter.question }}</b><br>
            <input class="quiz-answer" type="radio" id="choice1_{{ forloop.counter }}" name="question_{{ forloop.counter }}" value="{{ question_iter.choice1 }}">
            <label for="choice1_{{ forloop.counter }}" class="quiz-text">{{ question_iter.choice1 }}</label><br>
            
            <input class="quiz-answer" type="radio" id="choice2_{{ forloop.counter }}" name="question_{{ forloop.counter }}" value="{{ question_iter.choice2 }}">
            <label for="choice2_{{ forloop.counter }}" class="quiz-text">{{ question_iter.choice2 }}</label><br>
      
            <input class="quiz-answer" type="radio" id="choice3_{{ forloop.counter }}" name="question_{{ forloop.counter }}" value="{{ question_iter.choice3 }}">
            <label for="choice3_{{ forloop.counter }}" class="quiz-text">{{ question_iter.choice3 }}</label><br>
      
            <input class="quiz-answer" type="radio" id="choice4_{{ forloop.counter }}" name="question_{{ forloop.counter }}" value="{{ question_iter.choice4 }}">
            <label for="choice4_{{ forloop.counter }}" class="quiz-text">{{ question_iter.choice4 }}</label><br>
          {% endfor %}
          
          <input type="submit" value="Submit" class="submit">
        </form>
      </div>
      
    </main>
    
    <script src="index.js"></script>
  </body>
</html>