<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <h1>Results</h1>

    <!-- Display the score -->
    <p>Your score: {{ score }} out of {{ total }} questions</p>
    <p>Your current points: {{ current_points }}</p>
    <!-- Display submitted answers -->
    <h2>Submitted Answers:</h2>
    <ul>
        {% for question_id, answer in submitted_answers.items %}
        <li>Question {{ question_id }}: Your answer was {{ answer }}</li>
        {% endfor %}
    </ul>

</main>

<script src="index.js"></script>
</body>
</html>
