main {
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}
h2 {
    text-align: center;
    color: aliceblue;
    background-color: #00a87e;
    font-size: 2vw;
    width: 20%; 
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: block; 
    border: 3px solid aliceblue;
    border-radius: 1vw;
    margin-left: auto;
    margin-right: auto;
}
.box1 {
    margin: auto;
    width: 40%;
    /*background-color: #00a87e;*/
    padding: 15px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}
span {
    color: aliceblue;
    padding: 1.5vw;
}
th {
    font-size: 1.5vw;
    border: 1px solid;
    background-color: #00a87e;
}
tbody tr:nth-child(odd) {
    background-color: #007d69;
}

tbody tr:nth-child(even) {
    background-color: #00a87e;
}

/*outside borders*/
table {
    border: 3px solid black;
}

tr {
    border-top: 3px solid black;
}
tr + tr {
    border-top: 1px solid black;
}

td {
    border-left: 3px solid black;
    font-size: 1.2vw;
}

td + td {
    border-left: 3px solid black;
}
/* headers*/
header {
    background-color: #00a87e; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 1vw;


}
h1 {
    color: aliceblue;
    margin-bottom: 20px;
}
.button {
    color: aliceblue;
    background-color: darkgreen;
    font-size: 2vw;
    width: 12%; 
    height: 2vw;
    text-align: center;
    text-decoration: none;
    display: block; 
    border: 3px solid aliceblue;
    border-radius: 5px;
    padding: 1vw;

    position: absolute;
    margin: auto;
    top: 2.2vw;
    right: 0;
    bottom: 0;
    left: 0;
}
.button1 {
    background-color: #007d69;
    margin: 0 auto; 

}
.logout-button {
    color: white;
    background-color: red;
    font-size: 1.5vw;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}
.logout-button:hover {
    background-color: darkred;
    cursor: pointer;
}
