main {
    font-family: 'Poppins', sans-serif;
}
body {
    overflow: hidden;
}
h2 {
    text-align: center;
    font-size: 2vw;
}
form {
    text-align: center;
}
.box1 {
    margin: auto;
    width: 40%;
    border: 3px solid black;
    background-color: #00c896;
    padding: 15px;
}
p {
    font-size: 1vw;
}
.link-login {
    text-decoration: none;
    size: 10pt;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    text-decoration: underline;
}
