body {
    background-image: url("../images/exeteruni.jpg");
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    display: flex; /* Enables flexbox */
    justify-content: space-evenly; /* Evenly spaces items horizontally */
    align-items: center; /* Aligns items vertically in the center */
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover {
    background-color: black;
}

.navbar li {
    flex: 1; /* Distributes space equally */
    text-align: center; /* Centers text */
}