<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <title>Map</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
        <header>
            <h1>Map page</h1>
            <a href="/home" class="button button1">Home</a>
            <a href="{% url 'logout' %}" class="logout-button">Logout</a>
        </header>
        <br/>
        
        <div class="box1">
            <p style="text-decoration: underline;">Code Submission</p>
            <form method="post" action="./submit/">
                {% csrf_token %}
                <input type="text" name="randomString" value="">
                <input type="submit" value="Submit">
            </form>

            <p>To get the challenge or quiz, please follow these steps</p>
            <ul>
                <li>Click the location marker</li>
                <li>Scan the QR Code to obtain the text within</li>
                <li>Enter the text into the input box and click submit</li>
            </ul>

            <div id="map-container" style="width: 100%; height: 60%; align-content: center;">
                {{ map|safe }}
            </div>
            <a href="{% url 'qr-scanner' %}">Scan QR Code</a>
        </div>
    </main>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Put in another location on the page-->
    <a href="https://www.flaticon.com/free-icons/recycle" title="recycle icons">Recycle icons created by Pixel perfect - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/library" title="library icons">Library icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/computer-lab" title="computer lab icons">Computer lab icons created by Vectorsclub - Flaticon</a>
</body>
</html>