<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp&display=swap"/>
    <script src="{% static 'js/dashboard.js' %}" defer></script>
</head>
<body>
  <aside> 
    <!-- Sidebar for navigation -->
    <div class="top">
      <div class="logo">
        <h2><span class="danger">EcoQuest</span></h2>
      </div>
      <!-- Close button for small screens -->
      <div class="close" id="close_button">
        <span class="material-symbols-sharp">close</span>
      </div>
    </div>

    <!-- Sidebar navigation menu -->
    <div class="sidebar">

      <a href="{% url 'home' %}"> 
        <span class="material-symbols-sharp">home</span>
        <h3> Home </h3>
      </a>

      <a href="{% url 'leaderboard' %}"> 
        <span class="material-symbols-sharp">leaderboard</span>
        <h3> Leaderboard </h3>
      </a>

      <a href="{% url 'map' %}" class="active"> 
        <span class="material-symbols-sharp">map</span>
        <h3> Map </h3>
      </a>

      <a href="{% url 'contact' %}"> 
        <span class="material-symbols-sharp">call</span>
        <h3> Contact </h3>
      </a>

      {% if userprofile.is_user %}
      <a href="{% url 'achievements' %}">
        <span class="material-symbols-sharp">trophy</span>
        <h3> Achievements </h3>
      </a>
      {% endif %}

      {% if userprofile.is_user or userprofile.is_game_keeper or userprofile.is_admin %}
      <a href="{% url 'account' %}"> 
        <span class="material-symbols-sharp">exit_to_app</span>
        <h3> Account </h3>
      </a>
      {% endif %}

      {% if not userprofile.is_game_keeper or not userprofile.is_admin %}
      <a href="{% url 'privacy' %}"> 
        <span class="material-symbols-sharp">policy</span>
        <h3> Policy </h3>
      </a>
      {% endif %}
        
      {% if userprofile.is_game_keeper or userprofile.is_admin %}
      <a href="{% url 'gamekeeper-portal' %}"> 
        <span class="material-symbols-sharp">exit_to_app</span>
        <h3> Game Keeper </h3>
      </a>
      {% endif %}

      {% if userprofile.is_admin %}
      <a href="{% url 'admin-portal' %}"> 
        <span class="material-symbols-sharp">exit_to_app</span>
        <h3> Admin </h3>
      </a>
      {% endif %}
    
      {% if user_auth.is_anonymous %}
      <a href="{% url 'login'%}"> 
        <span class="material-symbols-sharp"> login </span>
        <h3> Sign In </h3>
      </a>
      {% endif %}

      {% if user_auth.is_authenticated %}
      <a href="{% url 'logout'%}"> 
        <span class="material-symbols-sharp"> login </span>
        <h3> Logout </h3>
      </a>
      {% endif %}
      
    </div>
  </aside>

    <main class="map-main"> 
      
     

        <div class="map-box"> 
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <p>To get the challenge or quiz, please follow these steps</p>
            <ul>
                <li>Click the QR Code Button</li>
                <li>Scan the QR Code</li>
                <li>You will be redirected to the quiz or challenge</li>
            </ul>

            <div id="map-container">
                {{ map|safe }}
            </div>
            <div class="qr-scanner"><a href="{% url 'qr-scanner' %}">Scan QR Code</a></div>
        </div>
    </main>


    <div class="right">
        <div class="top">
            <button id="menu_bar">
                <span class="material-symbols-sharp"> menu </span>
            </button>
        </div>
    </div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Put in another location on the page-->
     <div class="footer">
        <a href="https://www.flaticon.com/free-icons/recycle" title="recycle icons" class="icon-text">Recycle icons created by Pixel perfect - Flaticon</a><br>
        <a href="https://www.flaticon.com/free-icons/library" title="library icons" class="icon-text">Library icons created by Freepik - Flaticon</a><br>
        <a href="https://www.flaticon.com/free-icons/computer-lab" title="computer lab icons" class="icon-text">Computer lab icons created by Vectorsclub - Flaticon</a>
     </div>
    
</body>
</html>
