<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="../styling/leafmap.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Welcome to The Map Page</h1> <br>
        <form method="post" action="./submit/">
          {% csrf_token %}  
          <input type="text" name ="randomString" value="">
          <input type="submit" value="Submit">
        </form>

       
        <div id="map-container" style="overflow: hidden; align-content: center;">
            {{ map|safe }}
        </div>
            
        
        
    </main>
    
  </body>
</html>