<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp&display=swap"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="{% static 'js/dashboard.js' %}" defer></script>
  </head>
<body>
    <link rel="stylesheet" href="{% static 'css/challengeQuiz.css' %}">
    <aside>
        <div class="top">
          <div class="logo">
            <h2><span class="danger">EcoQuest</span></h2>
          </div>
          <div class="close" id="close_button">
            <span class="material-symbols-sharp">close</span>
          </div>
        </div>

        <div class="sidebar">

          <a href="{% url 'home' %}"> 
            <span class="material-symbols-sharp">grid_view</span>
            <h3> Home </h3>
          </a>

          <a href="{% url 'leaderboard' %}"> 
            <span class="material-symbols-sharp">leaderboard</span>
            <h3> Leaderboard </h3>
          </a>

          <a href="{% url 'map' %}"> 
            <span class="material-symbols-sharp">map</span>
            <h3> Map </h3>
          </a>

          <a href="{% url 'contact' %}"> 
            <span class="material-symbols-sharp">call</span>
            <h3> Contact </h3>
          </a>

          {% if userprofile.is_user %}
          <a href="{% url 'achievements' %}">
            <span class="material-symbols-sharp">trophy</span>
            <h3> Achievements </h3>
          </a>
          {% endif %}

          {% if userprofile.is_user or userprofile.is_game_keeper or userprofile.is_admin %}
          <a href="{% url 'account' %}"> 
            <span class="material-symbols-sharp">exit_to_app</span>
            <h3> Account </h3>
          </a>
          {% endif %}
          
          {% if userprofile.is_game_keeper or userprofile.is_admin %}
          <a href="{% url 'gamekeeper-portal' %}"> 
            <span class="material-symbols-sharp">exit_to_app</span>
            <h3> Game Keeper </h3>
          </a>
          {% endif %}

          {% if userprofile.is_admin %}
          <a href="{% url 'admin-portal' %}"> 
            <span class="material-symbols-sharp">exit_to_app</span>
            <h3> Admin </h3>
          </a>
          {% endif %}
        
          {% if user_auth.is_anonymous %}
          <a href="{% url 'login'%}"> 
            <span class="material-symbols-sharp"> login </span>
            <h3> Sign In </h3>
          </a>
          {% endif %}

          {% if user_auth.is_authenticated %}
          <a href="{% url 'logout'%}"> 
            <span class="material-symbols-sharp"> login </span>
            <h3> Logout </h3>
          </a>
          {% endif %}
          
        </div>
      </aside>
  
    
<main>

    <div class="page-header">
        <p class="challenge">{{ challenge }}</p>
        <p class="challenge-descr">{{ challenge_descr }}</p>
        <p class="challenge-points">Challenge is worth {{ challenge_points }} points</p>
        <p class="challenge-points">Your current points: {{ user_points }}</p>
    </div>
    <div class="box">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ forms.as_p }}<br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>


    <p>{{ upload_status }}</p>
    <p>{{ image }}</p>

</main>
<script src="index.js"></script>
</body>
</html>