<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sustainability</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sustain.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<h1>EcoQuest</h1>

<nav class="navbar">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="{% url 'home' %}">Dashboard</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="{% url 'login' %}">Client Area</a></li>
    </ul>
</nav>

<main>
    <h3>This is the main page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, aspernatur omnis. Ad rem eligendi debitis,
        suscipit dolores laboriosam repellendus fugit nam vitae a, cupiditate, laudantium accusamus hic voluptatum
        exercitationem in. </p>
</main>


</body>
</html>