<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
      h1 {text-align: center;
        font-size: 3vw;}
      form {text-align: center;}
      .box1 {
        margin: auto;
        width: 40%;
        border: 3px solid black;
        background-color: #00c896;
        padding: 15px;
      }
      p {font-size: 2vw;}
    </style>
  </head>
  <body>
    <main>
        <h1>Registration</h1>
      <div class="box1">
        <form method="POST">
          {% csrf_token %}
          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="font-size: 1vw;">{{ field.help_text | safe }}</small>
            {% endif %}
          </p>
          {% endfor %}
          <button type="submit">Submit</button>
        </form>
    </main>
    <script src="index.js"></script>
  </body>
</html>
