<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account</title>
 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboardStyle.css' %}">
    <!-- Add a link to stylesheet in here, and then put the style sheet in static in root folder-->
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <table class="table-outer">
      <thead class="table-head">
        <tr>
          <th class="table-cell"><a href="{% url 'home' %}">Home</a></th>
          <th class="table-cell"><a href="{% url 'account' %}">Profile</a></th>
          <th class="table-cell"><a href="{% url 'change-uname' %}">Change Username</a></th>
          <th class="table-cell"><a href="{% url 'change-name' %}">Change Name</a></th>
          <th class="table-cell"><a href="{% url 'change-password' %}">Change Password</a></th>
          <th class="table-cell"><a href="{% url 'challenges' %}">Challenges</a></th>
          <th class="table-cell"><a href="{% url 'logout' %}">Logout</a></td>
        </tr>
      </thead>
    </table>

    <form method="POST" class="form-style">
        {% csrf_token %}
        {{ form.as_p }} 
        <input type="submit" value="Submit" class="buttonSubmit">
    </form>

  </body>
</html>

