<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>  
    {% load static %}
     <!-- Add a link to stylesheet in here, and then put the style sheet in static in root folder-->
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Change Password</h1>
    <ul>
      <li><a href="{% url 'dashboard' %}">Profile</a></li>
      <li><a href="{% url 'change-uname' %}">Change Username</a></li>
      <li><a href="{% url 'change-name' %}">Change Name</a></li>
      <li><a href="{% url 'change-password' %}" class="active">Change Password</a></li>
      <li><a href="{% url 'challenges' %}">Challenges</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>

    </ul>
    <div class="form-style">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }} 
            <input type="submit" value="Submit">
        </form>
    </div>
  </body>
  
</html>