<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/styling.css' %}" type="text/css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <ul>
      <li><a href="{% url 'dashboard' %}" class="active">Profile</a></li>
      <li><a href="{% url 'edit' %}">Edit Details</a></li>
      <li><a href="{% url 'challenges' %}">Challenges</a></li>
      <li><a href="{% url 'statistics' %}">Statistics</a></li>
    </ul>
    <script src="index.js"></script>
  </body>
</html>